# Base de données vectorielle Qdrant
IAR_QDRANT_HOST=localhost
IAR_QDRANT_PORT=6333
IAR_QDRANT_TEST_LIMIT=6
# Seuil minimal de vecteurs pour autoriser l'écrasement dans Qdrant (1000 en prod, baisser pour les petits CSV de test)
IAR_QDRANT_MIN_VECTORS=1000

# Web Service
IAR_VECTORISATION_HOST=0.0.0.0
IAR_VECTORISATION_PORT=6381

# Chemins applicatifs & stockage
IAR_APP_DATA_DIR=/app/data
IAR_DOCKER_VOLUME_BIND=./volumes
IAR_DOCKER_NETWORK=mon_reseau
IAR_DOCKER_IMAGE_BATCH=rameau_vectorize_batch:latest
IAR_DOCKER_SOCK=unix:///var/run/docker.sock

# Fichiers CSV d'entrée RAMEAU et répertoires de données
IAR_CSV_INIT_FILENAME=export_rameau.csv
IAR_CSV_UPDATE_FILENAME=export_rameau_update.csv
IAR_CSV_DIR=/app/data/csv
IAR_PKL_DIR=/app/data/pkl

# Paramètres de vectorisation pour les routes /init et /update
IAR_VECTORIZE_CONCEPTS_OR_CHAINS=concepts
IAR_VECTORIZE_AVEC_THESE=only_mono

# Accélération GPU pour les conteneurs Docker (true si GPU NVIDIA + drivers WSL configurés, sinon false)
ENABLE_GPU=false