# Base de données vectorielle Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Web Service
API_HOST=0.0.0.0
API_PORT=8100

# Chemins applicatifs & stockage
APP_DATA_DIR=./data
DOCKER_VOLUME_BIND=./volumes
DOCKER_NETWORK=mon_reseau
DOCKER_IMAGE_BATCH=rameau_vectorize_batch:latest
DOCKER_SOCK=unix:///var/run/docker.sock

# Fichiers CSV d'entrée RAMEAU (dans APP_DATA_DIR/csv ou personnalisé)
CSV_INIT_FILENAME=export_rameau.csv
CSV_UPDATE_FILENAME=export_rameau_update.csv
CSV_DIR=./data/csv

# Paramètres de vectorisation pour les routes /init et /update
VECTORIZE_CONCEPTS_OR_CHAINS=concepts
VECTORIZE_ALIAS_MODEL=allMin
VECTORIZE_AVEC_THESE=only_mono

# Accélération GPU pour les conteneurs Docker (true si GPU NVIDIA + drivers WSL configurés, sinon false)
ENABLE_GPU=false