# Configuration LLM (ABES / Ollama / vLLM)
ABES_LLM_URL=https://llm.ilaas.fr/v1
ABES_LLM_KEY=
ABES_LLM_MODEL=llama-3.1-8b

# Base de données vectorielle Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Web Service
API_HOST=0.0.0.0
API_PORT=8100

# Chemins applicatifs & stockage
APP_DATA_DIR=./data
DOCKER_VOLUME_BIND=./volumes
DOCKER_NETWORK=mon_reseau
DOCKER_IMAGE_BATCH=rameau_vectorize_batch:latest